<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Basic Site Template</title>
    </head>

    <body>  
	    <h1>Greetings to the world !</h1>		
		<p> <a href = "/helloworld/"> Try Hello World  </a> </p>	
		<p> <a href = "/inline_html/"> Render inline html  </a> </p>	
        <p> <a href = "/form"> Go to form </a> </p>				
		<p> <a href = "/pass_default_values_to_html/"> Pass default values to html </a> </p>
		<p> <a href = "/pass_values_from_url_to_html/30/"> Pass values from url to html </a> </p>
		<p> <a href = "/java/"> Execute jar file from link </a> </p>
		<form action='/java' method='GET'>
			<button type="submit"> Execute jar file by clicking Button</button>
		</form>
    </body>
</html>